@charset 'utf-8';

/* 共通部分 */
html {
  font-size: 100%;
  /* スムーズスクロール */
  scroll-behavior: smooth;
}
body {
  color: var(--color);
  font-size: .9rem;
  font-family: var(--text-font);
  line-height: 1.8;
  letter-spacing: .05rem;
}
:root {
  --color: #24292E;
  --title-font: "Raleway", serif;
  --text-font: "Noto Sans JP", serif;
}
section {
  /* スムーズスクロール */
  scroll-margin-top: 80px;
}
a {
  color: var(--color);
  text-decoration: none;
}
img {
  max-width: 100%;
  object-fit: cover;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}
.title {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-family: var(--title-font);
  font-weight: 600;
  text-align: center;
}

/* ローディング */
#loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  background-color: #f1eee4;
  transition: 1s ease;
}
.spinner {
  width: 100px;
  height: 100px;
  background-color: #a9ba8e;
  border-radius: 50%;
  animation: sk-scaleout 1s infinite ease-in-out;
}
.loaded {
  opacity: 0;
  visibility: hidden;
}
@keyframes sk-scaleout {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
    opacity: 0;
  }
}

/* Header */
#header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  background-color: #ffffff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 1.75rem;
  font-family: var(--title-font);
  font-weight: normal;
}
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: max(32vw, 20rem);
  height: 100vh;
  background-color: var(--color);
  padding-top: 96px;
  text-align: center;
  translate: -100vw;
  transition: 1.4s ease;
}
.main-nav.open {
  translate: 0;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main-nav__link {
  color: #ffffff;
}
.hamburger {
  position: relative;
  z-index: 20;
  width: 42px;
  height: 42px;
  cursor: pointer;
  transition: .5s;
}
.hamburger span {
  position: absolute;
  background-color: var(--color);
  width: 30px;
  height: 1px;
  left: 6px;
  transition: .5s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 11px;
}
.hamburger span:nth-child(2) {
  top: 21px;
}
.hamburger span:nth-child(3) {
  top: 31px;
}
.hamburger.open span {
  background-color: #ffffff;
}
.hamburger.open span:nth-child(1) {
  top: 21px;
  left: 6px;
  transform: rotate(-45deg);
}
.hamburger.open span:nth-child(2),
.hamburger.open span:nth-child(3) {
  top: 21px;
  transform: rotate(45deg);
}
#mask {
  display: none;
}
#mask.open {
  display: block;
  position: fixed;
  inset: 0;
  z-index: -10;
  background-color: var(--color);
  opacity: .8;
  transition: .5s;
}
/* ホバーで伸びるライン */
.main-nav__link {
  position: relative;
}
.main-nav__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  scale: 0;
  transition: scale .5s;
}
.main-nav__link:hover::after {
  scale: 1;
}

/* Mainvisual */
#mainvisual img {
  width: 100%;
  height: 420px;
}

/* About */
#about {
  margin-top: 80px;
}
.text {
  margin-top: 30px;
}
.link {
  text-decoration: underline;
}

/* Skill */
#skill {
  margin-top: 70px;
}
dt {
  margin-top: 8px;
}
dt:first-of-type {
  margin-top: 0;
}

/* Products */
#products {
  margin-top: 70px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 26px;
}
.grid__title {
  text-align: center;
}
.grid__image {
  aspect-ratio: 4 / 3;
}

/* History */
#history {
  margin-top: 90px;
}

/* Vision */
#vision {
  margin-top: 70px;
}

/* Footer */
#footer {
  margin-top: 70px;
  padding: 10px 0;
  background-color: var(--color);
  color: #ffffff;
  font-size: .5rem;
  text-align: center;
}

/* PC表示 */
@media (min-width: 768px) {
  /* 共通部分 */
  .title {
    margin-bottom: 40px;
  }

  /* Header */
  .main-nav {
    position: initial;
    top: auto;
    left: auto;
    width: initial;
    height: initial;
    background-color: #ffffff;
    padding-top: 0;
    text-align: initial;
    translate: 0;
    transition: initial;
  }
  .main-nav__list {
    flex-direction: row;
    gap: 30px;
  }
  .main-nav__link {
    color: var(--color);
  }
  .hamburger,
  #mask.open {
    display: none;
  }
  /* ホバーで伸びるライン */
  .main-nav__link::after {
    background-color: var(--color);
  }

  /* Skill */
  #skill {
    margin-top: 130px;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
  }
  dt {
    width: 20%;
    margin-top: 0;
    padding: 8px;
  }
  dd {
    width: 80%;
    padding: 8px;
  }

  /* Products */
  #products {
    margin-top: 130px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

  /* History */
  #history {
    margin-top: 150px;
  }

  /* Vision */
  #vision {
    margin-top: 130px;
  }

  /* Footer */
  #footer {
    margin-top: 130px;
  }
}
